.sidebarOption {
    display: flex;
    padding: 6px 18px;
    cursor: pointer;
}
.sidebarOption > .MuiSvgIcon-root {
    margin-top: 14px;
    margin-right: 17px;
    opacity: 0.6;


}
.sidebarOption--activesub {
    background-color: rgb(35, 138, 202);
    width: 6px;
    height: 6px;
    margin-top: 24px;
    margin-left: 10px;
    border-radius: 3px;
}
.sidebarOption > img {
    width: 30px;
    height: 30px;
    margin-top: 12px;
    margin-right: 17px;
    border-radius: 50%;
    background-position: cover;
}
.sidebarOption:hover {
    background-color: rgba(153, 151, 151, 0.271);
    transition: 0.3s;
    border-radius: 20px;
    width: 100%;

}
.sidebarOption > h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #898989;
    margin-top: 16px;
}

.sidebarOption--active {
    color: red;
}
@media only screen and (max-width: 853px) {
    .sidebarOption > h3 {
        display: none;
    }
    .sidebarOption--activesub {
        display: none;
    }
    .sidebarOption > .MuiSvgIcon-root {
        margin-top: 6px;
    }
   
  }