.sidebar {
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
}




.sidebar::-webkit-scrollbar {
    display: none;
}
.sidebar>h3 {
font-size: 18px;
line-height: 23px;
margin-left: 18px;
color: #000000;
}
.dark .sidebar {
    background-color: rgb(38 38 38 / var(--tw-bg-opacity));
    
}
.light .sidebar {
    background-color:  rgb(245 245 245)    ;
}
  
@media only screen and (max-width: 853px) {
    .sidebar {
        width: 15%;
       
    }
   
  }
  @media only screen and (max-width: 771px) {
    .sidebar {
        // width: 100%;
        // position: fixed ;
        // height: 40px;
        // bottom: 0;
        // left: 0;
         position: fixed;
         right: 0;
         top: calc(100vh - 120px);
         display: flex;
         width: 100%;
         height: 180px;
         z-index: 1000;
       
    }
    .sidebar > h3 {
        display: none;
    }
   
  }
  .subs {
    margin-left: 17px;
    opacity: 0.8 ;
    display: inline-block;

  }
  