@media only screen and (max-width: 771px) {
    .vid {
          
            margin: 0 auto;
           
    }

   
  }

  .videoCard {
    max-width: 360px;
  }
  .videoimg {
    border-radius: 10px ;
  }