.App {
  margin: 0 auto;
}
.appBox {
  display: flex;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  background-color: #fff !important;
  color: #333 !important;
}

.dark .App {
  background-color: #333 !important;
  color: #fff !important;
}